# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.classpath
.project
.settings/
bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

# VS Code
.vscode/

# Mac
.DS_Store

# Logs
*.log
logs/

# Temporary files
*.tmp
*.temp

# Application Properties
application-local.properties
application-dev.properties

# Environment variables
.env

# Flyway
/flyway/

# Docker
docker-compose.override.yml

# SonarQube
.sonar/
