# src/test/resources/application-test.yml
spring:
  datasource:
    url: jdbc:tc:postgresql:14:///smart_civic_registry_test
    driver-class-name: org.testcontainers.jdbc.ContainerDatabaseDriver
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false

  flyway:
    enabled: false

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false

app:
  security:
    jwt:
      secret-key: test-secret-key-for-testing-only-123456789012
      expiration: 60000